[Desktop Entry]
Name=MATLAB
Comment=
Exec=/usr/local/MATLAB/R2016b/bin/matlab -desktop
Terminal=false
Type=Application
StartupNotify=true
Icon=/var/lib/app-info/icons/ubuntu-xenial-multiverse/64x64/matlab-support_matlab.png
Categories=
